* {
  box-sizing: border-box;
}

.slideshow-container {
  width: 100%;
  height: 60vh;
  position: relative;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}

.slide {
  display: none;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.fade {
  animation: fade 1s ease-in-out;
}

@keyframes fade {
  from { opacity: 0.4 }
  to { opacity: 1 }
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.5);
  transform: translateY(-50%);
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dots {
  text-align: center;
  margin-top: 10px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 4px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}