/* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color:#f1f1f1; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.25s; /* 0.5 second transition effect to slide in the sidenav */
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color:#603808;
}

.sidenav .closebtn:hover{
    color:rgb(142, 102, 52);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.off-canvas{
    padding: 5px 15px;
    background-color: indianred;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border-style: none;
}

.off-canvas:hover{
    background-color: crimson;
}


/* Estilo do conteúdo do carrinho */
.carrinho-title,
.carrinho-text {
    text-align: center;
    color: #603808;
    width: 100%;
    margin: 10px 0;
}

.carrinho-title {
    text-transform: uppercase;
    font-size: medium;
}

.carrinho-button {
    display: inline-block;
    background-color: #603808;
    color: white;
    text-align: center;
    padding: 8px 16px;
    margin: 15px auto;
    border-radius: 8px;
    width: auto;
    font-size: 16px;
    max-width: 70%;
    text-decoration: none;
}

/* Responsivo para telas pequenas */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}