<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mil folhas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!--linha para computadores-->
    <div class="fluid">Faca agora seu pedido onnline</div>

    <!--menu-->

    <!--se possivel, mudar nav. Nao ta tao responvia, queria colocar um menu-hamburger-->
    <header>
        <span class="logotipo">Gatito</span>

        <nav>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Loja onnline</a></li>
                <li><a href="{{ url_for('contato') }}">Contato</a></li>
<!-- Copiar e colar essa linha abaixo em todos os htmls para que possa acessar o carrinho!-->
                <li><a href="{{ url_for('sacola') }}">Carrinho</a></li>{% if 'usuario' in session %}
                <li>
                    <p>Olá, {{ session['usuario'] }} |
                        <a href="{{ url_for('editar_conta') }}">Editar Conta</a> |
                        <a href="{{ url_for('logout') }}">Sair</a>
                    </p>
                    {% else %}
                    <a href="{{ url_for('login') }}">Login</a>
                    {% endif %}
                </li>
                <li><a href="{{ url_for('produtos') }}">Produtos</a></li>
            </ul>
        </nav>

        <script>
            /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
            }

            /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("main").style.marginLeft = "0";
            }
        </script>

    </header>

    <!--container com varios itens, quando tela grande: 70% de width e margin:0 auto;
    quando tela media: width:100% e um pouco de margem; quando tela pequena: width:100% 
    e pouco de margin, grid(2, 1fr) -->
    <div id="main">
        <div class="container-buy">
            <div class="item-buy">
                <img src="{{ url_for('static', filename='images/kit_mil_folhas.jpg') }}" alt="">
                <div class="info-produto">

                    <p> <a class="title-info" href="{{ url_for('pagina_compra', produto_id=6) }}">Kit 3 Mil Folhas</a>
                    </p>
                    <p><b>R$ 84.00</b></p>
                </div>
            </div>

            <div class="item-buy">
                <img src="{{ url_for('static', filename='images/kit6milfolhas.jpg') }}" alt="">
                <div class="info-produto">

                    <p> <a class="title-info" href="{{ url_for('pagina_compra', produto_id=7) }}">Kit 6 Mil Folhas</a>
                    </p>
                    <p><b>R$ 168.00</b></p>
                </div>
            </div>

            <div class="item-buy">
                <img src="{{ url_for('static', filename='images/milfolhasnozes.jpg') }}" alt="">
                <div class="info-produto">
                    <p> <a class="title-info" href="{{ url_for('pagina_compra', produto_id=8) }}">Folhas Nozes</a></p>

                    <p><b>R$ 225.00 - R$ 310.00</b></p>
                </div>
            </div>

            <div class="item-buy">
                <img src="{{ url_for('static', filename='images/milfolhasdocedeleite.jpg') }}" alt="">
                <div class="info-produto">
                    <p> <a class="title-info" href="{{ url_for('pagina_compra', produto_id=9) }}">Folhas doce de leite</a></p>

                    <p><b>R$ 225.00 - R$ 310.00</b></p>
                </div>
            </div>

            <div class="item-buy">
                <img src="{{ url_for('static', filename='images/milfolhasindividual.jpg') }}" alt="">
                <div class="info-produto">
                    <p> <a class="title-info" href="{{ url_for('pagina_compra', produto_id=10) }}">Mil Folhas de Doce de Leite
                            Individual</a></p>
                    <p><b>R$ 28.00</b></p>
                </div>
            </div>
        </div>

        <!--roadape-->
        <footer>
            <div class="container-footer">
                <div class="row-footer">
                    <div class="footer-col">
                        <h4>Empresa</h4>
                        <ul>
                            <li><a href="">logo</a></li>
                            <li><a href="">linkedln</a></li>
                            <li><a href="">facebook</a></li>
                            <li><a href="">instagram</a></li>
                            <li><a href="">#confeitariadama</a></li>
                            <li><a href="">#damalovers</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Home page</h4>
                        <ul>
                            <li><a href="">Loja online</a></li>
                            <li><a href="">Petito Gatito</a></li>
                            <li><a href="">Sobre</a></li>
                            <li><a href="">Nossas lojas</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">Blog</a></li>
                            <li><a href="">Minha conta</a></li>
                            <li><a href="">Contato</a></li>
                        </ul>
                    </div>

                    <div class="footer-col">
                        <h4>Contato</h4>
                        <ul>
                            <li><a href="">Delivery</a></li>
                            <li><a href="">19 99123 4567</a></li>
                            <li><a href="">Eventos</a></li>
                            <li><a href="">19 98765 4321</a></li>
                            <li><a href="">Trabalhe conosco</a></li>
                            <li><a href="">recrutamento@confeitariagatito.com.br</a></li>
                            <li><a href="">Marketing</a></li>
                            <li><a href="">marketing@confeitariagatito.com.br</a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>