<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - Confeitaria Gatito</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!--header-->
    <header>
        <a href="{{ url_for('home') }}"><span class="logotipo">Gatito</span></a>
    </header>

    <div class="parte_laranja">
            
        <!--ocultei mensagens pq elas aparecem mt e atrapalha. se der tempo resolver isso
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}-->

        <!--arte-->
        <div class="arte">
            <img src="{{ url_for('static', filename='images/arte_login.png') }}" alt="arte_img" class="arte_img">
        </div>

        <!--form-->
        <form method="POST" class="form_cadastro">
            <div class="form-input">
                <label for="nome">Nome:</label><br>
                <input class="input_login"  type="text" name="nome" required><br><br>
            </div>

            <div class="form-input">
                <label for="email">Email:</label><br>
                <input type="email" class="input_login" name="email" required><br><br>
            </div>

            <div class="form-input">
                <label for="senha">Senha:</label><br>
                <input type="password" name="senha" class="input_login" required><br><br>
            </div>

            <div class="form-input">
                <button class="loginbtn" type="submit">Cadastrar</button>
            </div>

            <div class="cadastro">
                <p>Já tem uma conta? <a class="a_login" href="{{ url_for('login') }}"> Faça login aqui</a></p>
            </div>
        </form>

    </div>

    <!--roadape-->
    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li><a href="">logo</a></li>
                        <li><a href="">linkedln</a></li>
                        <li><a href="">facebook</a></li>
                        <li><a href="">instagram</a></li>
                        <li><a href="">#confeitariadama</a></li>
                        <li><a href="">#damalovers</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Home page</h4>
                    <ul>
                        <li><a href="">Loja online</a></li>
                        <li><a href="">Petito Gatito</a></li>
                        <li><a href="">Sobre</a></li>
                        <li><a href="">Nossas lojas</a></li>
                        <li><a href="">FAQ</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Minha conta</a></li>
                        <li><a href="">Contato</a></li>
                    </ul>
                </div>

                <div class="footer-col">
                    <h4>Contato</h4>
                    <ul>
                        <li><a href="">Delivery</a></li>
                        <li><a href="">19 99123 4567</a></li>
                        <li><a href="">Eventos</a></li>
                        <li><a href="">19 98765 4321</a></li>
                        <li><a href="">Trabalhe conosco</a></li>
                        <li><a href="">recrutamento@confeitariagatito.com.br</a></li>
                        <li><a href="">Marketing</a></li>
                        <li><a href="">marketing@confeitariagatito.com.br</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </footer>
</body>
</html>

